@import "../assets/fonts/fonts.css";

@tailwind components;
@tailwind utilities;

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

:root {
  --app-primary: rgba(93, 75, 255, 1);
  --caption-large-font-family: "PP NeueBit", Helvetica;
  --caption-large-font-size: 20px;
  --caption-large-font-style: normal;
  --caption-large-font-weight: 700;
  --caption-large-letter-spacing: 0px;
  --caption-large-line-height: normal;
  --caption-medium-font-family: "PP NeueBit", Helvetica;
  --caption-medium-font-size: 16px;
  --caption-medium-font-style: normal;
  --caption-medium-font-weight: 700;
  --caption-medium-letter-spacing: 0px;
  --caption-medium-line-height: normal;
  --caption-small-font-family: "PP NeueBit", Helvetica;
  --caption-small-font-size: 14px;
  --caption-small-font-style: normal;
  --caption-small-font-weight: 700;
  --caption-small-letter-spacing: 0px;
  --caption-small-line-height: normal;
  --gold-100: rgba(254, 249, 230, 1);
  --goldprimary: rgba(236, 185, 0, 1);
  --gray: rgba(184, 184, 184, 1);
  --gray-2: rgba(122, 122, 122, 1);
  --gray-fill: rgba(246, 246, 246, 1);
  --heading-small-font-family: "Aeonik", Helvetica;
  --heading-small-font-size: 24px;
  --heading-small-font-style: normal;
  --heading-small-font-weight: 500;
  --heading-small-letter-spacing: 0px;
  --heading-small-line-height: normal;
  --label-medium-font-family: "Aeonik", Helvetica;
  --label-medium-font-size: 16px;
  --label-medium-font-style: normal;
  --label-medium-font-weight: 500;
  --label-medium-letter-spacing: 0px;
  --label-medium-line-height: normal;
  --label-small-font-family: "Aeonik", Helvetica;
  --label-small-font-size: 14px;
  --label-small-font-style: normal;
  --label-small-font-weight: 500;
  --label-small-letter-spacing: -0.5600000000000002px;
  --label-small-line-height: normal;
  --label-x-small-font-family: "Aeonik", Helvetica;
  --label-x-small-font-size: 10px;
  --label-x-small-font-style: normal;
  --label-x-small-font-weight: 500;
  --label-x-small-letter-spacing: 0px;
  --label-x-small-line-height: normal;
  --paragraph-medium-font-family: "Aeonik", Helvetica;
  --paragraph-medium-font-size: 14px;
  --paragraph-medium-font-style: normal;
  --paragraph-medium-font-weight: 500;
  --paragraph-medium-letter-spacing: 0px;
  --paragraph-medium-line-height: normal;
  --paragraph-small-font-family: "Aeonik", Helvetica;
  --paragraph-small-font-size: 12px;
  --paragraph-small-font-style: normal;
  --paragraph-small-font-weight: 500;
  --paragraph-small-letter-spacing: 0px;
  --paragraph-small-line-height: normal;
  --positive: rgba(0, 195, 58, 1);
  --shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.1);
  --shadow-1: 0px 1px 8px 0px rgba(0, 0, 0, 0.1);
  --stroke: rgba(238, 236, 254, 1);
  --white: rgba(254, 254, 254, 1);
}

:root {
  --animate-spin: spin 1s linear infinite;
}

.animate-fade-in {
  animation: fade-in 1s var(--animation-delay, 0s) ease forwards;
}

.animate-fade-up {
  animation: fade-up 1s var(--animation-delay, 0s) ease forwards;
}

.animate-marquee {
  animation: marquee var(--duration) infinite linear;
}

.animate-marquee-vertical {
  animation: marquee-vertical var(--duration) linear infinite;
}

.animate-shimmer {
  animation: shimmer 8s infinite;
}

.animate-spin {
  animation: var(--animate-spin);
}

.animate-slide-in-right {
  animation: slide-in-right 0.5s ease-in-out;
}

.animate-slide-in-left {
  animation: slide-in-left 0.5s ease-in-out;
}

.animate-slide-out-left {
  animation: slide-out-left 0.5s ease-in-out;
}

.animate-slide-out-right {
  animation: slide-out-right 0.5s ease-in-out;
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}

@keyframes slide-in-right {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-out-left {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}

@keyframes slide-out-right {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(100%);
    opacity: 0;
  }
}

@keyframes image-glow {
  0% {
    opacity: 0;
    animation-timing-function: cubic-bezier(0.74, 0.25, 0.76, 1);
  }

  10% {
    opacity: 0.7;
    animation-timing-function: cubic-bezier(0.12, 0.01, 0.08, 0.99);
  }

  to {
    opacity: 0.4;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes shimmer {
  0%,
  90%,
  to {
    background-position: calc(-100% - var(--shimmer-width)) 0;
  }

  30%,
  60% {
    background-position: calc(100% + var(--shimmer-width)) 0;
  }
}

@keyframes marquee {
  0% {
    transform: translate(0);
  }

  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

@keyframes marquee-vertical {
  0% {
    transform: translateY(0);
  }

  to {
    transform: translateY(calc(-100% - var(--gap)));
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: transparent;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: transparent;
    --card-foreground: 213 31% 91%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
  }
}
